<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lk.ftdui">

    <application>
        <activity android:name=".activity.ChooseDoctorActivity"/>
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.ReportActivity" />
        <activity android:name=".activity.QuestionListActivity" />
        <activity android:name=".activity.FileUploadActivity" />
        <activity android:name=".activity.FtdActivity" />
    </application>

</manifest>